<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="../stylesheets/style.css" />

    <title>管理者</title>
</head>

<body>
    <input type="hidden" id="organization-id" value="<%= oid %>" />

    <div class="container-fluid d-flex flex-column vw-100 vh-100 m-0 p-0 position-absolute">
        <!-- ヘッダ -->
        <div class="header bg-dark start-0 d-flex flex-row justify-content-center align-items-center position-relative">
            <% if (typeof organization_user !== 'undefined') { %>
                <p class="display-5 text-white font-weight-bold">
                    管理者【
                    <%= organization_user.organization_name %>】さんとしてログイン中
                </p>
                <% } %>
        </div>
        <!-- ボディ -->
        <div class="body d-flex flex-row vw-100 start-0">
            <!-- サイドバー -->
            <div class="side w-25 bg-secondary start-0 text-white position-relative">
                <a class="btn" href="#" role="button">登録情報確認</a>
                <a class="btn bg-danger w-100" href="logout" role="button">ログアウト</a>

            </div>
            <!-- メインコンテンツ -->
            <div class="main w-75 start-25 position-relative d-flex flex-column">
                <div class="view-header">
                    <p>組織に所属しているユーザの一覧</p>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#search-modal">
                        絞り込み
                    </button>
                </div>
                <div class="view-body h-100">
                    <ul class="list-group" id="task-list">
                        <!-- ユーザ一覧を表示 -->
                        <% if (typeof o_users !== 'undefined') { %>
                            <% for (let i = 0; i < o_users.length; i++) { %>
                                <div class="panel-group border">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row align-items-center">
                                                <div class="col-9">
                                                    <div>
                                                        <a data-toggle="collapse" href="#collapse<%= i %>">
                                                            【ユーザ】
                                                            <%= o_users[i].user_name %>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <button type="button" class="btn btn-primary h-50" data-updateuserid="<%= o_users[i].user_id %>" data-toggle="modal" data-target="#update-user-modal"
                                                        　id="update-user-button">更新</button>
                                                    <button type="button" class="btn btn-danger user-delete" data-userid="<%= o_users[i].user_id %>" data-delete="<%= o_users[i].user_name %>">削除</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapse<%= i %>" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                <!-- ユーザに紐づいたタスクの一覧を表示 -->
                                                <% if (typeof tasks !== 'undefined') { %>
                                                    <% for (let j = 0; j < tasks.length; j++) { %>
                                                        <% if (tasks[j].um_id == o_users[i].um_id) { %>
                                                            <% 
                                    const date = new Date(tasks[j].deadline);
                                    const year = date.getFullYear();
                                    const month = date.getMonth() + 1;
                                    const day = date.getDate();

                                    const deadline = year + "年" + month + "月" + day + "日";

                                    let categoryClassName = "";

                                    switch (tasks[j].category_id) { 
                                        case 1: categoryClassName = "category-orange"; 
                                                break; 
                                        case 2: categoryClassName = "category-green";
                                                break;
                                        case 3: categoryClassName = "category-blue";
                                                break;
                                        case 4: categoryClassName = "category-red";
                                                break; 
                                        default:
                                    }
                                %>

                                                                <li class="list-group-item <%= categoryClassName %>">
                                                                    <div class="row align-items-center">
                                                                        <div class="col-6">
                                                                            <div>
                                                                                【タスク】
                                                                                <%= tasks[j].task_name %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <div>
                                                                                <%= deadline %>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-3">
                                                                            <button type="button" class="btn btn-primary" data-updateid="<%= tasks[j].id %>" data-toggle="modal" data-target="#update-modal"
                                                                                　id="update-button">更新</button>
                                                                            <button type="button" class="btn btn-danger delete" data-id="<%= tasks[j].id %>" data-delete="<%= tasks[j].task_name %>">削除</button>
                                                                        </div>
                                                                    </div>
                                                                </li>

                                                                <% } %>
                                                                    <% } %>
                                                                        <% } %>
                                            </ul>
                                            <div class="panel-footer">フッター</div>
                                        </div>
                                    </div>
                                </div>

                                <% } %>
                                    <% } %>
                    </ul>
                </div>
                <div class="view-footer">
                    <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#create-user-modal">
                        +組織所属ユーザ登録
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- モーダル 新規組織所属ユーザ登録 -->
    <div class="modal fade" id="create-user-modal" tabindex="-1" role="dialog" aria-labelledby="create-user-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-user-modal">新規所属ユーザ登録</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="create-user-name">ユーザ名</label>
                            <input type="text" class="form-control" id="create-user-name" name="user-name" />
                        </div>
                        <div class="form-group">
                            <label for="create-email">メールアドレス</label>
                            <input type="text" class="form-control" id="create-email" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="create-password">パスワード</label>
                            <input type="password" class="form-control" id="create-password" name="password" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            キャンセル
                        </button>
                        <button type="button" id="create-user" data-dismiss="modal" class="btn btn-primary">
                            登録
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- モーダル 新規組織所属ユーザ登録 END -->

    <!-- モーダル ユーザ情報更新 -->
    <div class="modal fade" id="update-user-modal" tabindex="-1" role="dialog" aria-labelledby="update-user-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-user-modal">更新</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update-user-form">
                        <div class="form-group">
                            <label for="update-user-name">ユーザ名</label>
                            <input type="text" class="form-control" id="update-user-name" name="user-name" />
                        </div>
                        <div class="form-group">
                            <label for="update-email">メールアドレス</label>
                            <input type="text" class="form-control" id="update-email" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="update-password">パスワード</label>
                            <input type="password" class="form-control" id="update-password" name="password" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        キャンセル
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="update-user">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- モーダル 更新 END -->

    <!-- モーダル 絞り込み -->
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="search-modal">絞り込み</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="search-form">
                        <p>絞り込みの種類</p>
                        <div class="form-group" id="search-items">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="search-done" name="search-item[]" value="done">
                                <label class="form-check-label" for="search-done">完了したタスク</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="search-progress" name="search-item[]" value="progress">
                                <label class="form-check-label" for="search-progress">作業中のタスク</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="search-untouched" name="search-item[]" value="untouched">
                                <label class="form-check-label" for="search-untouched">未実施のタスク</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="search-life" name="search-item[]" value="life">
                                <label class="form-check-label" for="search-life">生活</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="search-study" name="search-item[]" value="study">
                                <label class="form-check-label" for="search-study">勉強</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="search-work" name="search-item[]" value="work">
                                <label class="form-check-label" for="search-work">仕事</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="search-hobby" name="search-item[]" value="hobby">
                                <label class="form-check-label" for="search-hobby">趣味</label>
                            </div>
                        </div>
                        <p>並び替えオプション</p>
                        <div class="form-group">
                            <label for="search-opt">並び替えの基準</label>
                            <select class="form-control" name="search-opt" id="search-opt">
                                <option value="task_name">タスクの名前</option>
                                <option value="deadline">タスクの期限</option>
                                <option value="category_id">タスクのカテゴリ</option>
                                <option value="task_status">タスクのステータス</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="search-sort">並び替えの順序</label>
                            <select class="form-control" name="search-sort" id="search-sort">
                                <option value="ASC" checked>昇順</option>
                                <option value="DESC">降順</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        キャンセル
                    </button>
                    <button type="button" id="search-task" data-dismiss="modal" class="btn btn-primary">
                        絞り込む
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- モーダル 新規登録 END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../javascripts/index.js"></script>
    <script>

        // 組織所属ユーザ登録
        $("#create-user").on("click", async function () {

            const data = {
                userName: $("#create-user-name").val(),
                email: $("#create-email").val(),
                password: $("#create-password").val(),
                oid: $("#organization-id").val(),
            };

            const response = await httpPost(
                "//" + window.location.host + "/api/regist/ouser",
                data
            );
            window.location.reload();
        });

        // ユーザ更新モーダルに更新したいユーザのIDを渡す
        $('#update-user-modal').on('show.bs.modal', async function (event) {
            const button = $(event.relatedTarget);
            const id = button.data('updateuserid');

            console.log(button);
            const response = await httpGet(
                "//" + window.location.host + `/api/get/ouser/${id}`
            );


            // 初期値をセット
            const modal = $(this);
            modal.find('#update-user').attr('data-updateuserid', id);
            $("#update-user-name").val(response[0].user_name);
            $("#update-email").val(response[0].email);

        });

        // ユーザ情報更新
        $("#update-user").on("click", async function () {
            const id = $(this).data("updateuserid");

            const requestData = {
                userName: $("#update-user-name").val(),
                email: $("#update-email").val(),
                password: $("#update-password").val(),
            };
            const response = await httpUpdate(
                "//" + window.location.host + `/api/update/ouser/${id}`,
                requestData
            );

            window.location.reload();
        });

        // ユーザ削除
        $(document).on("click", ".user-delete", async function () {
            const userName = $(this).data("delete");
            if (confirm(`以下のユーザを削除します。\n ${userName}`)) {

                const id = $(this).data("id");
                const response = await httpDelete(
                    "//" + window.location.host + `/api/delete/ouser/${id}`
                );

                window.location.reload();
            }
        });

    </script>
</body>

</html>